{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Left Column (Text Content) -->
            <div class="col-md-6">
                <h1 class="display-4 text-primary mb-4">მოგესალმებით ჩვენს მაღაზიაში!</h1>
                <p class="lead mb-4">Aphrodite-ში, ჩვენ  გთავაზობთ მაღალი ხარისხის პროდუქციას, რომელიც აკმაყოფილებს ჩვენი მომხმარებლების საჭიროებებს. ჩვენი მიზანია შემოგთავაზოთ საოცარი სავაჭრო გამოცდილება, მიუხედავად იმისა, ეძებთ სახლის საჭირო ნივთებს, უახლეს გაჯეტებს თუ უნიკალურ აღმოჩენებს.</p>
                <p class="mb-4">ჩვენ გვჯერა, რომ შოპინგი უფრო ადვილი და სასიამოვნო გავხადოთ ყველასთვის, ვთავაზობთ უპრობლემო ონლაინ გამოცდილებას და უზრუნველვყოფთ მომხმარებლის კმაყოფილებას ყოველი შენაძენით.</p>

                <h3 class="text-secondary">რატომ უნდა აგვირჩიოთ ჩვენ?</h3>
                <ul class="list-unstyled">
                    <li><i class="bi bi-check-circle text-success"></i> ხარისხიანი პროდუქციის ფართო არჩევანი</li>
                    <li><i class="bi bi-check-circle text-success"></i> შესანიშნავი ფასები</li>
                    <li><i class="bi bi-check-circle text-success"></i> სწრაფი და საიმედო მიწოდება</li>
                    <li><i class="bi bi-check-circle text-success"></i> განსაკუთრებული მომხმარებელთა მხარდაჭერა</li>
                </ul>
            </div>

            <!-- Right Column (Image) -->
            <div class="col-md-6">
                <img src="https://scontent.ftbs5-2.fna.fbcdn.net/v/t39.30808-6/438802465_829611195858288_3753660546960184283_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=TdVb9bmGreAQ7kNvgETu4Ce&_nc_zt=23&_nc_ht=scontent.ftbs5-2.fna&_nc_gid=A8jHojteyLxeXHaKadTZLz9&oh=00_AYCfMjjNBcWL7KoePZh-LeyblSSc_tiTy1GcsKLGI7bqWA&oe=679AC401" alt="About Us" class="img-fluid rounded shadow-lg">
            </div>
        </div>
    </div>
{% endblock %}
